
# Ignore cmake files
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile


.vscode/
.snakemake/

/picasa_reproducibility/figures/*/data
/picasa_reproducibility/figures/*/results



io.py
scratch.py

nohup.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/build

/picasa.egg-info
/.snakemake

*.so

*.csv
*.csv.gz
*.txt
*.txt.gz
*.h5*
*.png
*.log
*.out
*.model
*.RDS