
# Ignore cmake files
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile


.vscode/
.snakemake/

/picasa_reproducibility/analysis/*/*/*/*.png
/picasa_reproducibility/analysis/*/*/*/.pdf

/picasa_reproducibility/analysis/*/*/*.png
/picasa_reproducibility/analysis/*/*/.pdf

test/results/*.png
test/results/*.pdf


io.py
scratch.py

nohup.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/build

/picasa.egg-info
/.snakemake

*.so

*.csv
*.csv.gz
*.txt
*.txt.gz
*.h5*
*.log
*.out
*.model
*.RDS
*.parquet
*.pdf