
# Ignore cmake files
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile


.vscode/
.snakemake/

/figures/*/data
/figures/*/results*

io.py
scratch.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/build

*.so

*.csv
*.csv.gz
*.txt
*.txt.gz
*.h5*
*.png
*.log
*.out
*.model


