
#### ovary picasa model config

common_epochs = 1
common_meta_epoch = 15
unique_epoch = 250
base_epoch = 250


params = {'device' : 'cuda',
		'batch_size' : 100,
		'input_dim' : 2000,
		'embedding_dim' : 3000,
		'attention_dim' : 25,
		'latent_dim' : 25,
		'encoder_layers' : [100,25],
		'projection_layers' : [50,50],
		'learning_rate' : 1e-5,
		'pair_search_method' : 'approx_50',
        'pair_importance_weight': 0.75,
	 	'corruption_tol' : 10.0,
        'cl_loss_mode' : 'none', 
		'epochs': common_epochs,
		'meta_epochs': common_meta_epoch
		}   
